!!!
%html
	%head
		%meta{charset: 'UTF-8'}
		%title 宅配トラッカー
		!= stylesheet_tag 'application'
	%body
		%h1 宅配トラッカー
		#form
			%form{method: 'POST', action: "/"}
				%input{type: "submit", value: "新規利用"}
