!!!
%html
	%head
		%meta{charset: 'UTF-8'}
		%meta{name: "viewport", content: "width=device-width,initial-scale=1"}
		%title 宅配トラッカー
		!= stylesheet_tag 'application'
		%link{rel: "stylesheet", href: "//fonts.googleapis.com/icon?family=Material+Icons"}
	%body.index
		%h1 宅配トラッカー
		%form.index{method: 'POST', action: "/"}
			%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored{type: "submit"}
				%i.material-icons<add
		%p
			宅配便の配送状況を定期的にチェックして、変化があったときに
			%a{href: "https://www.pushbullet.com/"}<Pushbullet
			で通知してくれるサービスです。現在、ヤマト運輸、佐川急便、日本郵便および
			TMG、UPSの5サービスに対応しています(ただしTMGはAmazonの荷物のみ、UPSは試験運用中)。
			あらかじめPushbulletのAPIトークンを設定し、あとは各サービスの
			伝票番号を入力していくだけで使えます。
		%div.contact
			%a.pushbullet-subscribe-widget{"data-channel"=>"takuhai_tracker", "data-widget"=>"button", "data-size"=>"small"}<
				%script{type: "text/javascript"}
					(function(){var a=document.createElement('script');a.type='text/javascript';a.async=true;a.src='https://widget.pushbullet.com/embed.js';var b=document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a,b);})();
			%a{href: "https://www.facebook.com/takuhaitracker"}<
				%img{src: "img/facebook.png", alt: "Contact us via Facebook"}
			%a{href: "https://github.com/tdtds/takuhai_tracker"}<
				%img{src: "img/github.png", alt: "Contact us via GitHub"}
