!!!
%html
	%head
		%meta{charset: 'UTF-8'}
		%meta{name: "viewport", content: "width=device-width,initial-scale=1"}
		%title 宅配トラッカー
		%link{rel:"stylesheet", href:"/css/top.css", media:"all"}
		%link{:rel => "apple-touch-icon", :href => "/img/touch-icon.png"}
	%body.index
		#main
		%div.contact
			%a.pushbullet-subscribe-widget{"data-channel"=>"takuhai_tracker", "data-widget"=>"button", "data-size"=>"small"}<
				%script{type: "text/javascript"}
					(function(){var a=document.createElement('script');a.type='text/javascript';a.async=true;a.src='https://widget.pushbullet.com/embed.js';var b=document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a,b);})();
			%a{href: "https://www.facebook.com/takuhaitracker"}<
				%img{src: "img/facebook.png", alt: "Contact us via Facebook"}
			%a{href: "https://github.com/tdtds/takuhai_tracker"}<
				%img{src: "img/github.png", alt: "Contact us via GitHub"}
		%script{src: "/js/top.js"}
