!!!
%html
	%head
		%meta{charset: 'UTF-8'}
		%meta{name: "viewport", content: "width=device-width,initial-scale=1"}
		%title 宅配トラッカー - ユーザページ
		%link{rel:"stylesheet", href:"/css/app.css", media:"all"}
		%link{:rel => "apple-touch-icon", :href => "/img/touch-icon.png"}
	%body.user
		#main{"data-user": user}
		%div.contact
			%a.pushbullet-subscribe-widget{"data-channel"=>"takuhai_tracker", "data-widget"=>"button", "data-size"=>"small"}<
				%script{type: "text/javascript"}
					(function(){var a=document.createElement('script');a.type='text/javascript';a.async=true;a.src='https://widget.pushbullet.com/embed.js';var b=document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a,b);})();
		%script{src: "/js/app.js"}
