[Unit]
Description=Takuhai Tracker Cron Task on Docker
Documentation=https://github.com/tdtds/takuhai_tracker/tree/master/misc/docker/worker
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop takuhai-tracker-worker
ExecStartPre=-/usr/bin/docker rm takuhai-tracker-worker
ExecStart=/usr/bin/docker run --name takuhai-tracker-worker --env-file /var/lib/takuhai-tracker/.env tdtds/takuhai-tracker-worker:latest

[Install]
WantedBy=multi-user.target
