[Unit]
Description=Takuhai Tracker Cron Task on Docker
Documentation=https://github.com/tdtds/takuhai-tracker/misc/docker/cron/
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker stop takuhai-tracker-cron
ExecStartPre=-/usr/bin/docker rm takuhai-tracker-cron
ExecStart=/usr/bin/docker run --name takuhai-tracker-cron --env-file /var/lib/takuhai-tracker/.env tdtds/takuhai-tracker-cron:latest

[Install]
WantedBy=multi-user.target
